<div class="col-xs-offset-1 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-1 col-lg-8 col-lg-offset-1" style="padding-left:0px">
  <div class="container-fluid">
    <h1>Edit <%= @list.list_title %><%= image_tag("pencil-gif.gif", class: "img-responsive") %></h1>
  </div>
</div>
<div class="col-xs-offset-3 col-sm-9 col-sm-offset-4 col-md-9 col-md-offset-5 col-lg-9 col-lg-offset-5" style="padding-left:0px">
  <div class="row" style="margin-bottom: 20px">
  <%= render "form"%>
</div>
</div>
