<div class="container">
  <div class="col-md-6">
    <div class="row">
      <h1>New Task</h1>
    </div>
    <hr>
  <div class="col-xs-offset-3 col-sm-10 col-sm-offset-4 col-md-10 col-md-offset-4 col-lg-10 col-lg-offset-4" style="padding-left:0px">
    <div class="row">
      <%= render "form"%>
    </div>
  </div>
</div>
