$salmon: #FF7A70
$font1: #3a3a3a

.lists, .todos
  background-color: #fff
  border: solid 2px $font1
  border-radius: 25px
  height: auto
  text-align: center
  margin-top: 20px
  padding: 15px

#listItem
  margin-left: 50px
  font-family: "Varela Round", sans-serif
  color: $salmon
