$salmon: #FF7A70
$font1: #3a3a3a

.todos
  background-color: #fff
  border: solid 2px $font1
  border-radius: 25px
  height: auto
  margin-top: 20px
  text-align: center
  padding: 15px 0 15px 0
  list-style-type: none
  #btnGrouping a
    text-align: center
    display: inline-block


input[type=checkbox]:checked + label
  text-decoration: line-through
